
<%- include('../include/header') %>
<h1>Stories</h1>



<div class="row">
    <%posts.forEach(post => {%>
       
    <div class="col s12 m4">
        <div class="card">

            <div class="card-image">
                <%= post.status %>
            </div>
            <div class="card-content center-align">
            <h5><%= post.title %></h5>
          
            <br>
            <div class="chip">
                <img src="/<%= post.user.image %>" alt="image" class="responsive">
                <a href="/posts/users/<%= post.user._id %>"><%= post.user.fname %></a>
            </div>
        </div>
        <div class="cart-action center-align">
            <a href="/posts/<%= post._id %>"class="btn grey">Read More</a>
        </div>
        </div>
    </div>

   
   
    <%})%>
  
</div>

<%- include('../include/footer') %>